html, body {
	font-size: 89%;
	font-family: Verdana;
	color: #757575;
	background: #f4f4f4;
}

footer {
	border-top: 1px solid black;
	text-align: center;
}

header {
	padding: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

header div {
	padding-right: 10%;
	text-align: right;
}

header p {
	padding-right: 10%;
	text-align: right;
}


.news-box {
	
}

.news-date {
	 text-decoration: underline;
	 vertical-align: text-top;
}


.news-comment {
	
}
.news-tag {
	
}

.news-author {
	
}

.news-text {
	text-align: justify;
}

.news-box .news-date, .news-comment, .news-tag {
	<!-- float:right; -->
}

.comment-text {
	border: 0;
	padding: 5px;
	background: #c3c3c3;
	
}

.comment-date {
	
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
